@import "tailwindcss";

@layer base {
    body {
        @apply bg-[#050505] text-gray-100 font-sans antialiased;
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
    background: #333;
}